body{
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color:#f4f4f4 ;
    color:#333 ;
}

.container{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color:#fff ;
    border-radius: 10px;
}

h1 , h2 , h3{
    text-align: center;
    color:#4CAF50 ;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #4CAF50 ;
    width: 100%;
    border-radius: 5px;
}
submit{
    background-color:#4CAF50 ;
    color: white;
    margin: auto;
    
}

.submit-btn:hover{
    background-color:#45a049 ;
}
table{
    width: 100px;

}
th{
    background-color:#4CAF50 ;
    color: white;
    padding: 10px;
    text-align: left;
}
tr:nth-child(even){
    background-color:#f2f2f2;
}
td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}