#para1{
    color: #0000CD;
}
#para2{
    background-color: rgb(144, 238, 144);
}
#para3{
    color: rgba(255, 0, 0, 0.5);
}
#para4{
    background-color:yellowgreen;
}
#para5{
    color: #FF6347;
    background-color:rgb(135, 206, 235) ;
}
